.column-left {
    float: left;
    width: 10%;
}
.column-right {
    float: left;
    width: 80%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;